.App {
  height: 100%;
  width: 100%;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .todos {
  display: flex;
  justify-content: center;
  align-items: center;
} */
.todo-list {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.todo-list > * {
  margin: 10px 10px;
}
